# Compiled Object files
*.slo
*.lo
*.o
*.obj
core

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.dSYM
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
logger-test

# emacs
*~

# Xcode
*.xcodeproj/
DerivedData/

# MAc OS X
.DS_Store

# MAc OS X
.DS_Store
._*

# autoconf
confdefs.h
config.h
autom4te.cache
config.status
config.log
Makefile

# layout
doxyfile
distrib/
lib/
doc/
